# Fast2SMS API Credentials
# Get your API key from https://www.fast2sms.com/dashboard/dev-api
FAST2SMS_API_KEY=your_fast2sms_api_key_here

# Village A (Chooralmala) - 3 numbers (10 digits, comma-separated, without +91)
ALERT_PHONES_CHOORALMALA=9876543210,9876543211,9876543212

# Village B (Mundakkai) - 3 numbers (10 digits, comma-separated, without +91)
ALERT_PHONES_MUNDAKKAI=9876543213,9876543214,9876543215
#Village C (Pulpally)
ALERT_PHONES_PULPALLY=6303965339